body{
     font-family: "Manrope", sans-serif;

}
.auth{
    min-height: 100vh;
    margin: 0%;
    padding: 0%;
    width: 100%;
    display: flex;
 overflow: hidden;

}
.auth-img{
    width: 50%;
background-color: #efe7fd;
background-image: url("Background-img.png");
background-repeat: no-repeat;
background-position: center;
}
.logo{
    padding: 40px 0px 0px 50px
}
.auth-form{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    overflow-y: auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}
.form-group label{
color: #1E1B4B;
}
.form-box {
max-width: 484px;
width: 100%;
}
.form-title h1{
     font-family: "Manrope", sans-serif;
    font-size: 36px;
    color: #7C3AED;
    
}
.form-title p{
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    color: #6B728E;
        padding-right: 13px;
}
.form-options-row{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.form-options-row a,.toggel-btn a{
    text-decoration: none;
    color: #7C3AED;
}
.input-with-icon-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.input-with-icon-container .form-input {
    width: 100%;
    padding-right: 40px;
}
.form-input{
    padding: 10px;
    border: none;
    background-color: #F6F5FA;
    /* color: #E5E0F0; */
    border-radius: 10px;
}
.form-input:focus {
    border: 1px solid #E5E0F0 !important; /* Sirf testing ke liye */
    outline: none;
}
.password-toggle-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
    color: #666;
}
.form-check-group {
    display: flex;
    gap: 10px;
}
.form-check-group label{
    color: #6B728E;
}
.submit-button{
    width: 100%;
    margin-top: 32px;
    padding: 12px;
    border: none;
    background-color: #7C3AED;
    color: white;
    border-radius: 10px;
        transition: background-color 0.3s;

}
.submit-button:hover:not(:disabled) {
    background-color: #6d28d9;
}
.submit-button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}
.secondary-button {
    width: 100%;
    padding: 12px;
    border: 1px solid #7C3AED; 
    background-color: white;
    color: #7C3AED;
    margin-top: 15px; 
    border-radius: 10px;
    transition: background-color 0.3s;
}
.toggel-btn{
    text-align: center;
    margin-top: 18px;
}
.validation-error {
    color: red;
    padding: 8px;
}
@media (max-width: 1024px) {
    .auth {
        flex-direction: column; 
        height: auto; 
    }
    
    .auth-img {
        width: 100%; 
        height: 250px; 
        padding: 10px;
        background-position: center; 
    }
    
    .logo {
        padding: 10px;
        text-align: center;
    }
    
    .auth-form {
        width: 100%; 
        padding:30px 20px;
        margin: 0; 
        overflow-y: visible;
    }
    
    .form-box {
        padding: 0px;
        margin: 0 auto; 
}}