.auth{
    margin: 0%;
    padding: 0%;
    width: 100%;
    display: flex;
    height: 100vh;

}
.auth-img{
    width: 50%;
background-color: #efe7fd;
background-image: url("Background-img.png");
background-repeat: no-repeat;
background-position: center;
}
.logo{
    padding: 40px 0px 0px 50px
}
.auth-form{
    margin: auto;
}

.form-group {
    display: flex;
    flex-direction: column;
}
.form-options-row{
    display: flex;
    justify-content: space-between;
}
.input-with-icon-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.input-with-icon-container .form-input {
    width: 100%;
    padding-right: 40px;
}

.password-toggle-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
    color: #666;
}